# 共通
.env
.env.*
# サンプルはGit管理する
!.env.example
!**/.env.example
*.log
.DS_Store

# Python
__pycache__/
*.pyc
backend/venv/

# Node
node_modules/
dist/

# Docker
*.pid

# IDE
.vscode/
.idea/
data.sql
progress_backup.sql
