FLASK_ENV=development
SUPERUSER=

DATABASE_URL=
SECRET_KEY=dev-secret-key
# CORS（テスト時はlocalhostのみ）
CORS_ORIGINS=http://localhost

MAIL_HOST=mailhog
MAIL_PORT=1025
SMTP_USERNAME=
SMTP_PASSWORD=
MAIL_FROM=
MAIL_REPLY_TO=
MAIL_RETURN_PATH=

GOOGLE_API_KEY=

#docker-compose.ymlの環境変数
MYSQL_ROOT_PASSWORD=secret
MYSQL_DATABASE=progress_db
MYSQL_ROOT_HOST=%

# Celeryの設定
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0