FLASK_ENV=development
SUPERUSER=test_admin
FRONTEND_BASE_URL=http://localhost:5173
# -----------------------------
# MySQL
# -----------------------------
MYSQL_ROOT_PASSWORD=password
MYSQL_DATABASE=progress_db
MYSQL_USER=progress_user
MYSQL_PASSWORD=password

DATABASE_URL=mysql+pymysql://progress_user:password@db:3306/progress_db

SECRET_KEY=secret_key_for_flask_app

CORS_ORIGINS=http://localhost:5173,http://localhost:4173

SMTP_HOST=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=
MAIL_FROM=
MAIL_REPLY_TO=
MAIL_RETURN_PATH=

GOOGLE_API_KEY=

# Celeryの設定
CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=

WTF_CSRF_ENABLED = 

